@import "bootstrap-sprockets";
@import "bootstrap";

/* comments */
.comments {
  list-style: none;
  padding: 0;
  margin: 0px 60px;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  .text {
    display: block;
    margin: 0px 60px;
  }
}
.comment_form {
  margin: 5px 60px;
}